{% extends "layout.html" %}

{% block title %}
chat area
{% endblock %}

{% block head_elements %}

{% endblock %}
<script src="/static/chatroom.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style_chatroom.css">
{% block body %}


<div class="container-fluid">
    <div class="row">
        <header>
            chat info bar
        </header>
    </div>

    <div class="row">
        <div class="col-4">
            chat navigation area
        </div>
        <div class="col-8">
            chat area
        </div>
    </div>

        <footer>
            <nav class="navbar navbar-dark bg-dark">
                <form class="form-inline">
                    <button class="btn btn-outline-success" type="button">Main button</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
                </form>
            </nav>
        </footer>
    </div>
{% endblock %}